:root {
    /* .font-size */
    --fs-16px: 16px;
    --fs-64px: 64px;
    --fs-54px: 54px;
    --fs-20px: 20px;
    --fs-56px: 56px;


    /* font-weight */
    --fw-500: 500;
    --fw-700: 700;
    --fw-300: 300;
    --fw-400: 400;


    /* color */
    --bs-black: black;
    --bs-white: white;


    /* font-family */
    --ff-sunflower: 'sunflower', sans-serif;
    --ff-sapce: 'Space Grotesk', sans-serif;
}

.navbar-links {
    font-family: var(--ff-sunflower);
    font-size: var(--fs-16px);
    font-weight: var(--fw-500);
}

.header-text {
    color: var(--bs-white);
    font-family: var(--ff-sunflower);
    font-size: var(--fs-64px);
    font-weight: var(--fw-300);
}

.lorem-text {
    color: #FFF;
    font-family: var(--ff-sapce);
    font-size: var(--fs-16px);
    font-weight: var(--fw-400);

}

.coming-project {
    color: var(--bs-white);
    font-family: var(--ff-sunflower);
    font-size: var(--fs-56px);
    font-weight: var(--fw-300);
}

.candle-queen {
    color: var(--bs-white);
    font-family: var(--ff-sunflower);
    font-size: var(--fs-20px);
    font-weight: var(--fw-500);
}

.ratio-num {
    color: var(--bs-white);
    font-family: var(--ff-sunflower);
    font-size: var(--fs-16px);
    font-weight: var(--fw-700);
}

.ntf-text {
    color: var(--bs-white);
    font-family: var(--ff-sapce);
    font-size: var(--fs-16px);
    font-weight: var(--fw-300);
}

.service-text {
    font-family: var(--ff-sunflower);
    font-size: var(--fs-56px);
    font-weight: var(--fw-300)
}

.smart-contract {
    color: var(--bs-white);
    font-family: var(--ff-sapce);
    font-size: var(--fs-20px);
    font-weight: var(--fw-700);
}

.phar {
    color: var(--bs-white);
    font-family: var(--ff-sapce);
    font-size: var(--fs-16px);
    font-weight: var(--fw-400);
}

.text1 {
    font-family: var(--ff-sapce);
    font-size: var(--fs-16px);
    font-weight: var(--fw-700);
}

.text2 {
    font-family: var(--ff-sapce);
    font-size: var(--fs-16px);
    font-weight: var(--fw-400);
}

.about {
    font-family: var(--ff-sunflower);
    font-size: var(--fs-56px);
    font-weight: var(--fw-300);
}

.karmic {
    font-family: var(--ff-sapce);
    font-size: var(--fs-16px);
    font-weight: var(--fw-400);
}

.pro-1 {
    color: var(--bs-black);
    font-family: var(--ff-sunflower);
    font-size: var(--fs-56px);
    font-weight: var(--fw-300);
}

.text3 {
    color: var(--bs-black);
    font-family: var(--ff-sapce);
    font-size: var(--fs-16px);
    font-weight: var(--fw-400)
}