@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,400;0,500;0,600;0,900;1,300&family=Sunflower:wght@300;500;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,400;0,500;0,600;0,900;1,300&family=Space+Grotesk:wght@300;400;500;600;700&family=Sunflower:wght@300;500;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(./root.css);

* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none !important;
    box-sizing: border-box !important;
}

.bg-image {
    background-image: url(../images/png/Karmic.Labsbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gap-40 {
    gap: 40px;
}

.max-w-570 {
    max-width: 570px;
}

button:hover {
    background-color: #FFF !important;
    color: #040404 !important;
}

button:hover svg path {
    fill: #040404;
}

.pb-47 {
    padding-bottom: 47px;
}

.connect-btn {
    display: inline-flex;
    padding: 12px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 82px;
    background: #FFF;
    color: #040404;
    font-family: 'Sunflower', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.read-btn {
    display: flex;
    padding: 12px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 82px;
    border: 1px solid #FFF;
    color: white;
    font-family: 'Sunflower', sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: #3b3b3b;
}

.bg-img {
    background-image: url(../images/png/bg.img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gap-32 {
    gap: 32px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-165 {
    padding-bottom: 165px;
}

.pt-48 {
    padding-top: 48px;
}

.mb-24 {
    margin-bottom: 24px;
}

.images-hover:hover {
    box-shadow: 0px 4px 15px 0px #FFFFFF1A;
}

.pos-abs {
    position: absolute;
}

.start-btn {
    padding: 12px 24px;
    border-radius: 82px;
    border: 1px solid white;
    background-color: #3b3b3b !important;
}

.transparent-card {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px -1px 20px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(15px);
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}


.border-radius {
    border-radius: 12px;
}

.pt-78 {
    padding-top: 78px;
}

.gap-37 {
    gap: 37px;
}


.view-btn {
    display: inline-flex;
    padding: 12px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 82px;
    border: 1px solid #FFF;
    color: #FFF;
    font-family: 'Sunflower', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.pt-48 {
    padding-top: 48px;
}

.pt-136 {
    padding-top: 136px;
}

.phar {
    line-height: 150%;
    max-width: 224px;
    opacity: 0.7;
}

.text1 {
    line-height: 29px;
    letter-spacing: 0em;
    max-width: 570px;
}

.text2 {
    line-height: 29px;
    letter-spacing: 0em;
}

.pt-173 {
    padding-top: 173px;
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--White, #FFF);
}

.ml-24 {
    margin-left: 24px;
}

.pl-24 {
    padding-left: 24px;
}

.pb-69 {
    padding-bottom: 69px;
}

.line {
    position: relative;
}

.line::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #FFF;
    bottom: -15%;
    width: 100%;
}

.pb-96 {
    padding-bottom: 96px;
}

.cards {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 12px;
}

.cards:hover {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
}

.pt-77 {
    padding-top: 77px;
}

.karmic {
    line-height: 29px;
    text-align: left;
    opacity: 0.7;
}

.bg-img2 {
    background-image: url(../images/png/bg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.circlehover:hover .ellipse5 {
    display: flex;
    background-color: #FFF;
    color: #FFF;
}

.ellipse5 {
    width: 74px;
    height: 73px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    bottom: 88%;
    right: -5%;
    display: none;

}

.fw-700 {
    font-weight: 700px;
}

.max-w-532 {
    max-width: 532px;
}

.ellipse1 {
    width: 184px;
    height: 184px;
    flex-shrink: 0;
    fill: #FFF;
    filter: blur(124px);
}

.pt-31 {
    padding-top: 20px;
}

.image-scale {
    transform: scale(1.0);
    transition: all 300ms linear;
}

.image-scale:hover {
    transform: scale(1.2);
}

@media(max-width:992px) {
    label[for="menubar"] {
        display: flex;
        width: 30px;
        height: 25px;
        flex-direction: column;
        position: relative;
        z-index: 3;
        cursor: pointer;
        justify-content: space-between;
    }

    .mt-lg-50 {
        margin-top: unset;
    }

    label[for="menubar"]>span {
        display: flex;
        width: 100%;
        height: 4px;
        border-radius: 3px;
        background-color: white;
    }

    label[for="menubar"]>span {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .mobile-view {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: black;
        flex-direction: column;
        z-index: 2;
        transition: all 200ms linear;
    }

    input[type="checkbox"][id="menubar"]:checked+div.mobile-view {
        left: 0;
    }

    input[type="checkbox"][id="menubar"]:checked+div.mobile-view ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    input[type="checkbox"][id="menubar"]:checked+div.mobile-view div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .pos-fix {
        position: fixed;
        right: 14px;
        z-index: 2;
        left: 0;
    }
}